target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.iml
.idea/
target/
src/main/java/com/til/canvasmaker/xsddto/
.DS_Store
.settings/
.project
logs/
.classpath
bin/
.springBeans
data/*
.mvn/*
mvnw*
